@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box; 
}

body {
    margin: 0; 
    overflow-x: hidden; 
}

h1 {
    text-align: center;
    background-color: #F13030;
    margin: 0;
    padding: 20px 0;
}

.nav-container {
    background-color: #465362; 
    padding: 10px; 
    border-radius: 5px; 
    margin: 20px 0; 
    width: 100%; 
}

nav {
    text-align: center;
    width: 100%; 
}

nav ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
}

nav li {
    margin: 0 15px; 
    transition: color 0.3s, text-decoration 0.3s; 
}

nav a {
    text-decoration: none; 
    color: white; 
    padding: 10px 15px; 
}

nav a:hover {
    color: #F13030;
    text-decoration: overline; 
}

nav li:hover {
    color: #F13030; 
}

.hero-video {
    width: 100%; 
    height: auto;     
}

.site_purpose {
    text-align: center; 
    margin: 20px auto; 
    max-width: 800px; 
    padding: 20px; 
    border: 2px solid #F13030; 
    border-radius: 8px; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.site_purpose h3 {
    margin-bottom: 15px; 
}

.site_purpose ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.site_purpose li {
    text-align: left; 
    margin: 5px 0; 
    display: inline-block; 
    width: 100%; 
}

footer {
    background-color: #465362;
    text-align: center;
    color: white;
}

@media (max-width: 600px) {
    .nav-container {
        width: 100%; 
    }
}

.hamburger {
    display: none; 
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .hamburger {
        display: block; 
        margin: 10px auto;
        text-align: center;
    }

    nav {
        display: none;
        flex-direction: column; 
        width: 100%; 
        background-color: #d3d3d3;
    }

    nav.active {
        display: flex;
    }

    nav ul {
        flex-direction: column; 
        padding: 0; 
        margin: 0; 
    }

    nav li {
        margin: 10px 0;
        text-align: center;
    }
}

.map_title{
    text-align: center;
}

.map_image {
    display: block;      
    margin: 20px auto;  
    max-width: 100%;    
    height: auto;       
}

.popular_volcano{
    text-align: center;
}

.fuji-container {
    display: flex;                       
    align-items: center;                
    justify-content: center;            
    margin: 20px;                       
}

.visited_volcano {
    margin-right: 20px;                 
    max-width: 50%;                    
    height: auto;                       
}

.mobile {
    display: none; 
    max-width: 70%;
    height: auto; 
    margin-right: 20px; 
}

.desktop {
    display: block;
}

@media (max-width: 600px) {
    .mobile {
        display: block; 
        max-width: 50%; 
        height: auto;
    }

    .desktop {
        display: none; 
    }
}

.fuji_info {
    max-width: 400px;       
    padding-left: 100px;           
}

.country_most_volcanoes{
    text-align: center;
}

.tambora-container {
    display: flex;
    align-items: center; 
    margin: 20px; 
}

.mt_tambora {
    max-width: 30%; 
    height: auto; 
    margin-right: 20px;
}
.tambora-content {
    max-width: 65%;
    
}

.merapi-container {
    display: flex; 
    align-items: center; 
    margin: 20px; 
}

.mt_merapi {
    max-width: 30%; 
    height: auto;
    margin-left: 20px; 
}

.merapi-content {
    max-width: 65%; 
}

.tambora-container, .merapi-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 20px auto; 
}

.tambora-content, .merapi-content {
    max-width: 65%; 
    text-align: left; 
}

.mt_tambora, .mt_merapi {
    max-width: 30%; 
    height: auto;
    margin: 0 20px; 
}

@media (max-width: 600px) {
    .tambora-container, .merapi-container {
        flex-direction: column; 
        align-items: center; 
    }

    .tambora-content, .merapi-content {
        max-width: 100%; 
        text-align: center;
        margin-bottom: 10px; 
    }

    .mt_tambora, .mt_merapi {
        max-width: 80%; 
        height: auto; 
    }
}

img.lazy {
    opacity: 0; 
    transition: opacity 0.3s ease-in; 
}

img:not(.lazy) {
    opacity: 1; 
}

html {
    scroll-behavior: smooth;
}